/* utlity classes */

.full-width {
  width: 100%;
}

.full-height {
  height: 100vh;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.flex-col-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.margin-top{
  margin-top: 1rem;
}
