/* utlity classes */

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
