* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Override Ant design components */

/* Sider */
.ant-layout-sider-children{
  background-color: #FFF;
}
.ant-layout-sider .ant-layout-sider-trigger{
  background-color: #FFF;
  color: #000;
}