.form-section{
    width: 100%;
    margin-top: 1.25rem;
    background-color: #F9FAFB;
    padding: 1rem;
    border-radius: 1rem;
}

.form-heading{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: #1E1E1E
}

.form-layout{
    
}