.form-section {
  width: 100%;
  margin-top: 1.25rem;
  background-color: #f9fafb;
  padding: 1rem;
  border-radius: 1rem;
}

.form-heading {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #1e1e1e;
}

.form-layout {
  margin-block: 1rem;
}

.steps-right-section {
  width: 60%;
}

.steps-left-section {
  width: 25%;
  height: 100%;
}

.steps-block {
  height: 300px;
}

.details-container {
  margin-block: 1rem;
}

.details-heading {
  color: #667085;
  font-weight: 400;
  font-size: 0.75rem;
}

.details-value {
  color: #333843;
  font-weight: 600;
  font-size: 0.85rem;
}

.form-image {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.total-weight-container {
  background-color: #F3F4F6;
  padding: 1rem 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 0.5rem;
}