.invoice-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000;
  background: #fff;
  border: 1px solid #ddd;
}

.invoice-heading {
  width: 100%;
  text-align: center;
  font-weight: 600;
  text-decoration: underline solid;
}

.invoice-company {
  margin-block: 1.5rem;
  gap: 1rem;
}

.invoice-company-details > h3 {
  font-weight: 600;
  font-size: 1rem;
}

.invoice-company-details > h5 {
  font-weight: 400;
  font-size: 0.75rem;
}

.invoice-company-details > p {
  font-weight: 400;
  font-size: 0.625rem;
}

.invoice-details {
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 0.5px solid #e0e2e7;
}

.transport-details-left,
.transport-details-right {
  gap: 1rem;
}

.transport-address {
  gap: 0.3rem;
}

.transport-address > h4 {
  font-weight: 500;
  font-size: 0.875rem;
  color: #1e293b;
}

.transport-address > p,
.transport-details-right > p {
  font-weight: 400;
  font-size: 0.875rem;
  color: #1e293b;
}

.invoice-label {
  font-size: 0.75rem;
  font-weight: 400;
  color: #64748b;
}

.payment-details {
  margin-block: 1rem;
}

.payment-details-left {
  gap: 1rem;
}

.payment-details-left > h4 {
  color: #1a1c21;
  font-weight: 600;
  font-size: 0.875rem;
}
.bank-details {
  gap: 0.3rem;
}

.bank-details > p > strong {
  font-size: 0.75rem;
  font-weight: 500;
  color: #1a1c21;
  min-width: 5rem;
}

.bank-details > p > span {
  font-size: 0.75rem;
  font-weight: 500;
  color: #5e6470;
}

.payment-details-right {
  gap: 1.5rem;
}

.payment-details-right {
  gap: 4rem;
}

.payment-details-right > h4 {
  font-size: 0.875rem;
  color: #1a1c21;
  font-weight: 600;
  padding: 0px;
}

.term-details {
  margin-top: 1.7rem;
  margin-bottom: 1rem;
}

.term-details > h4 {
  font-size: 0.75rem;
  font-weight: 400;
  color: #000000;
}

.term-details > p {
  font-size: 0.75rem;
  font-weight: 500;
  color: #6B7280;
}
